* {
  box-sizing: border-box; }

body,
html {
  background: #02003e;
  width: 100%;
  height: 100%;
  position: relative; }

.content {
  position: absolute;
  border-radius: 50%; }

.content-1 {
  border-radius: 50%;
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 1000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: brown;
  top: 100px;
  left: 200px; }

.content-2 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 1200ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: greenyellow;
  top: 100px;
  left: 100px; }

.content-3 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 1400ms;
  animation-iteration-count: infinite;
  width: 10px;
  height: 10px;
  background-color: white;
  top: 100px;
  right: 100px; }

.content-4 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 1600ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: blueviolet;
  top: 300px;
  right: 300px; }

.content-5 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 1800ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: orange;
  top: 200px;
  right: 400px; }

.content-6 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 2000ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: pink;
  top: 280px;
  right: 250px; }

.content-7 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 2200ms;
  animation-iteration-count: infinite;
  width: 10px;
  height: 10px;
  background-color: gray;
  top: 400px;
  right: 850px; }

.content-8 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 2400ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: blue;
  top: 550px;
  left: 655px; }

.content-9 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 2600ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: #ff0095;
  top: 445px;
  left: 590px; }

.content-10 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 2800ms;
  animation-iteration-count: infinite;
  width: 22px;
  height: 22px;
  background-color: green;
  top: 440px;
  right: 778px; }

.content-11 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 3000ms;
  animation-iteration-count: infinite;
  width: 10px;
  height: 10px;
  background-color: yellow;
  top: 310px;
  right: 1345px; }

.content-12 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 3200ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: #00ffea;
  top: 145px;
  left: 190px; }

.content-13 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 3400ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: gray;
  top: 470px;
  left: 540px; }

.content-14 {
  width: 10px;
  height: 10px;
  background-color: black;
  top: 433px;
  left: 915px;
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 3600ms;
  animation-iteration-count: infinite; }

.content-15 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 3800ms;
  animation-iteration-count: infinite;
  width: 10px;
  height: 10px;
  background-color: white;
  top: 433px;
  left: 915px; }

.content-16 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 4000ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: brown;
  top: 455px;
  left: 999px; }

.content-17 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 4200ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: magenta;
  top: 433px;
  left: 915px; }

.content-18 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 4400ms;
  animation-iteration-count: infinite;
  width: 22px;
  height: 22px;
  background-color: #57a52a;
  top: 433px;
  left: 915px; }

.content-19 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 4600ms;
  animation-iteration-count: infinite;
  width: 10px;
  height: 10px;
  background-color: orange;
  top: 433px;
  left: 915px; }

.content-20 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 4800ms;
  animation-iteration-count: infinite;
  width: 15px;
  height: 15px;
  background-color: gray;
  top: 433px;
  left: 915px; }

.content-21 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: white;
  top: 433px;
  left: 915px; }

.content-22 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: brown;
  top: 433px;
  left: 1500px; }

.content-23 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: yellow;
  top: 433px;
  left: 800px; }

.content-24 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: magenta;
  top: 433px;
  left: 1000px; }

.content-25 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: #57a52a;
  top: 2px;
  left: 100px; }

.content-26 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: orange;
  top: 7000px;
  left: 500px; }

.content-27 {
  animation-name: moving;
  animation-duration: 4s;
  animation-delay: 5000ms;
  animation-iteration-count: infinite;
  width: 20px;
  height: 20px;
  background-color: gray;
  top: 300px;
  left: 1600px; }
