        * {
            box-sizing: border-box;
        }
        
        body,
        html {
            background: #02003e;
            width: 100%;
            height: 100%;
            position: relative;
        }
        
        .content {
            position: absolute;
            border-radius: 50%;
            animation-name: moving;
            animation-duration: 4s;
            animation-delay: -2s;
            animation-iteration-count: infinite;
        }
        
        .content-1 {
            width: 20px;
            height: 20px;
            background-color: brown;
            top: 100px;
            left: 200px;
            border-radius: 50%;
            animation-name: moving;
            animation-duration: 4s;
            animation-delay: -2s;
            animation-iteration-count: infinite;
        }
        
        .content-1::before {
            content: '';
            position: absolute;
            top: 300px;
            left: 230px;
            width: 20px;
            height: 20px;
            background-color: brown;
            border-radius: 50%;
        }
        
        .content-1::after {
            content: '';
            position: absolute;
            top: 150px;
            right: 150px;
            width: 20px;
            height: 20px;
            background-color: brown;
            border-radius: 50%;
        }
        
        .content-2 {
            width: 15px;
            height: 15px;
            background-color: greenyellow;
            top: 100px;
            left: 100px;
        }
        
        .content-2::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: greenyellow;
            top: 100px;
            left: 300px;
            border-radius: 50%;
        }
        
        .content-2::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: greenyellow;
            top: 300px;
            left: 100px;
            border-radius: 50%;
        }
        
        .content-3 {
            width: 10px;
            height: 10px;
            background-color: white;
            bottom: 100px;
            right: 100px;
        }
        
        .content-3::before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            bottom: 300px;
            right: 100px;
            border-radius: 50%;
        }
        
        .content-3::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            bottom: 150px;
            right: 300px;
            border-radius: 50%;
        }
        
        .content-4 {
            width: 20px;
            height: 20px;
            background-color: blueviolet;
            bottom: 300px;
            right: 300px;
        }
        
        .content-4::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: blueviolet;
            bottom: 300px;
            left: 200px;
            border-radius: 50%;
        }
        
        .content-4::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: blueviolet;
            bottom: 300px;
            right: 200px;
            border-radius: 50%;
        }
        
        .content-5 {
            width: 15px;
            height: 15px;
            background-color: orange;
            top: 200px;
            right: 400px;
        }
        
        .content-5::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: orange;
            top: 200px;
            right: 250px;
            border-radius: 50%;
        }
        
        .content-5::after {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: orange;
            top: -140px;
            right: 340px;
            border-radius: 50%;
        }
        
        .content-6 {
            width: 15px;
            height: 15px;
            background-color: pink;
            top: 280px;
            right: 250px;
        }
        
        .content-6::before {
            content: '';
            position: absolute;
            top: -40px;
            right: -239px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: pink;
        }
        
        .content-6::after {
            content: '';
            position: absolute;
            top: -240px;
            left: 80px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: pink;
        }
        
        .content-7 {
            width: 10px;
            height: 10px;
            background-color: gray;
            bottom: 400px;
            right: 850px;
        }
        
        .content-7::before {
            content: '';
            position: absolute;
            top: 370px;
            right: 200px;
            width: 10px;
            height: 10px;
            background-color: gray;
            border-radius: 50%;
        }
        
        .content-7::after {
            content: '';
            position: absolute;
            top: 370px;
            left: 200px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: gray;
        }
        
        .content-8 {
            width: 15px;
            height: 15px;
            background-color: blue;
            top: 550px;
            left: 655px;
        }
        
        .content-8::before {
            content: '';
            position: absolute;
            bottom: 400px;
            left: 200px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: blue;
        }
        
        .content-8::after {
            content: '';
            position: absolute;
            top: -400px;
            left: -210px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: blue;
        }
        
        .content-9 {
            width: 20px;
            height: 20px;
            background-color: rgb(255, 0, 149);
            top: 445px;
            left: 590px;
        }
        
        .content-9::before {
            content: '';
            position: absolute;
            top: 190px;
            left: -265px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(255, 0, 149);
        }
        
        .content-9::after {
            content: '';
            position: absolute;
            top: -190px;
            left: -265px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(255, 0, 149);
        }
        
        .content-10 {
            width: 22px;
            height: 22px;
            background-color: green;
            top: 440px;
            right: 778px;
        }
        
        .content-10::before {
            content: '';
            position: absolute;
            top: 190px;
            left: 280px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: green;
        }
        
        .content-10::after {
            content: '';
            position: absolute;
            bottom: 190px;
            left: 280px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: green;
        }
        
        .content-11 {
            width: 10px;
            height: 10px;
            background-color: yellow;
            bottom: 310px;
            right: 1345px;
        }
        
        .content-11::before {
            content: '';
            position: absolute;
            bottom: -280px;
            left: 180px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: yellow;
        }
        
        .content-11::after {
            content: '';
            position: absolute;
            bottom: -280px;
            left: -120px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: yellow;
        }
        
        .content-12 {
            width: 15px;
            height: 15px;
            background-color: rgb(0, 255, 234);
            bottom: 145px;
            left: 190px;
        }
        
        .content-12::before {
            content: '';
            position: absolute;
            bottom: 72px;
            left: 260px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: rgb(0, 255, 234);
        }
        
        .content-12::after {
            content: '';
            position: absolute;
            bottom: 250px;
            left: 85px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: rgb(0, 255, 234);
        }
        
        .content-13 {
            width: 20px;
            height: 20px;
            background-color: gray;
            bottom: 470px;
            left: 540px;
        }
        
        .content-13::before {
            content: '';
            position: absolute;
            bottom: 200px;
            right: -160px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: gray;
        }
        
        .content-13::after {
            content: '';
            position: absolute;
            bottom: 240px;
            left: -120px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: gray;
        }
        
        .content-14 {
            width: 10px;
            height: 10px;
            background-color: black;
            top: 433px;
            left: 915px;
        }
        
        .content-14::before {
            content: '';
            position: absolute;
            top: 190px;
            right: -310px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }
        
        .content-14::after {
            content: '';
            position: absolute;
            top: 290px;
            left: 60px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: black;
        }